.title
{
  text-align: center;
  color: #F4AF00;
}

.pagina2
{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  background-color: #3087AD;
  padding: 10px;
}

.locals
{
  display: grid;
  grid-template-columns:auto auto auto;
  grid-template-rows: auto auto;
  background-color: #3087AD;
}

.locals_content{
  background-color: #06B1FB;
  margin-right: 100px;
}
h3.locals_content{
  font-size: 50px;
  color: #0017A7;
}

p.locals_content{

}
/*.Ayesha
{
  background-color: #06B1FB;
  margin-right: 100px;
}
h3.Ayesha{
  font-size: 50px;
  color: #0017A7;
}
.Rafi
{
  background-color: #06B1FB;
  margin-right: 100px;
}
h3.Rafi{
  font-size: 50px;
  color: #0017A7;*/
}
.Indus{
  padding: 10px

}

.Ganges{
  padding: 10px;

}
figcaption {
  font-size: 10px;
}

.img_locals{
width: 100%;
height: 100%;
}
