#navbar {
  background-color: #3087AD;
  /* 3087AD background color */
  position: fixed;
  /* Make it stick/fixed */
  top: 0;
  /* Stay on top */
  width: 100%;
  /* Full width */
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
  z-index: 9999;
}

/* Style the navbar links */
#navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #F4AF00;
  color: black;
}

.logo {
  width: 6%;
}

.title {
  text-align: center;
  color: #F4AF00;
}

.pagina2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  background-color: #3087AD;
  padding: 10px;
}

.locals {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  background-color: #3087AD;
}

.locals_content {
  background-color: #06B1FB;
  margin-right: 100px;
}

h3.locals_content {
  font-size: 50px;
  color: #0017A7;
}

.bloktekst {
  padding: 10px;
}

figcaption {
  font-size: 10px;
}

.locals {
  position: relative;
  float: left
}

.locals_content {
  width: 100%;
  padding: 1em
}

.locals_img {
  width: 35%;
}

.locals_logo {
  width: 15%
}

.img_locals {
  width: 200px;
  height: 100%;
  object-fit: cover;
}

.mySlides {
  display: none;
}

#slideshow {
  max-width: 500px;
  margin-top: 20px;
  
}

.slideshow_text {
  color: white;
  font-size: 8px;
}

.urbandelta {
  background-color: #3087AD;

  .datawrapper {
    margin: 50px;
  }

  h2.urbandeltas {
    background-color: #F4AF00;
  }

  .demografie {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    background-color: #3087AD;
  }

  img.demografie {
    width: 200px;
    height: 100%;
    object-fit: cover;
  }

  /*footer*/
